In [172]:
# ENCODE KO, limpando dados pro geneOverlap

In [306]:
import pandas as pd

In [307]:
df = pd.read_csv('/Users/Carol/Desktop/arquivoNovo/KO/creeds_metadata_ko.csv')

In [308]:
df.head()

,id,cell_type,chdir_norm,ctrl_ids,curator,geo_id,hs_gene_symbol,mm_gene_symbol,organism,pert_ids,pert_type,platform,version
0,gene_2005,"liver tissue, n-nitrosodiethylamine treatment",NaN,GSM217220|GSM217222|GSM217224|GSM217234|GSM217235,Andrew,GSE8747,MET,Met,mouse,GSM217225|GSM217227|GSM217236|GSM217237|GSM217238,knockout,GPL4200,1
1,gene_2006,"liver tissue, n-nitrosodiethylamine treatment",NaN,GSM217219|GSM217221|GSM217223|GSM217229|GSM217230,Andrew,GSE8747,MET,Met,mouse,GSM217226|GSM217228|GSM217231|GSM217232|GSM217233,knockout,GPL4200,1
2,gene_2007,"liver tissue, n-nitrosodiethylamine treatment",NaN,GSM217201|GSM217203|GSM217205|GSM217207|GSM217209,Andrew,GSE8747,MET,Met,mouse,GSM217211|GSM217213|GSM217216|GSM217218,knockout,GPL4200,1
3,gene_2000,"primary hepatocytes, HGF stimulation",NaN,GSM100094|GSM100095|GSM100096|GSM100097|GSM100...,Andrew,GSE4451,MET,Met,mouse,GSM100088|GSM100089|GSM100090|GSM100091|GSM100...,knockout,GPL1536,1
4,gene_2001,"primary hepatocytes, HGF stimulation",NaN,GSM100100|GSM100101|GSM100102|GSM100103|GSM100...,Andrew,GSE4451,MET,Met,mouse,GSM100051|GSM100053|GSM100106|GSM100107|GSM100...,knockout,GPL1536,1

In [309]:
#df['hs_gene_symbol']

In [310]:
# df1.columns = ['gene']
# df1.head()

In [311]:
dfe = pd.read_csv('/Users/Carol/Desktop/arquivoNovo/ENCODE_2015_correction.csv',low_memory=False)

In [312]:
dfe.head()

,POLR2AphosphoS2_MELcellline_mm9,STAT1_HeLaS3_hg19,MAX_HepG2_hg19,CREB1_HepG2_hg19,CTCF_fibroblastofupperlegskin_hg19,TRIM28_U2OS_hg19,JUND_MELcellline_mm9,EZH2_keratinocyte_hg19,MYOD1_C2C12_mm9,CEBPB_HeLaS3_hg19,...,CTCF_GM12874_hg19,GABPA_HeLaS3_hg19,ZZZ3_GM12878_hg19,POLR2AphosphoS2_CH12.LX_mm9,SRF_myocyte_mm9,ZBTB33_GM12878_hg19,CTCF_GM13977_hg19,SUPT20H_HeLaS3_hg19,BHLHE40_GM12878_hg19,TAF1_PFSK1_hg19
0,HEXIM1,SND1,CASP8AP2,ZNF284,POLR2J3,HEXIM2,TTC39A,MIR548D2,ATE1,POLR2J3,...,HEXIM2,ATE1,JMJD4,ENDOG,ATE1,ATE1,HEXIM2,ISY1-RAB43,NIPSNAP3B,ATE1
1,TEX30,CACNA2D1,NIPSNAP3B,NGDN,CCZ1B,FNBP4,ZFP710,NIPSNAP3B,CADM4,DHDH,...,POLR2J4,WDR83OS,ISY1-RAB43,FNBP4,HEXIM2,POLR2J4,POLR2J4,UBE2I,POLR2J3,HES7
2,FNBP1,DEK,KIAA1586,GATAD2A,C20ORF194,POLR2J3,GAPVD1,BTBD18,4930519F16RIK,C20ORF196,...,ENDOG,C20ORF196,ACOT9,NIPSNAP3B,LNPEP,POLR2J2,ENDOG,ZNF165,FNBP1,ZNF287
3,RC3H1,LNPEP,PRKAB1,KIAA0494,C12ORF73,PRKAB2,PLEKHA8,ESX1,GM10432,PRKAB1,...,POLR2J2,KIAA1586,ZNF165,BTBD19,PRKAB2,FNBP4,POLR2J2,YIPF2,RC3H2,FAM108A1
4,OPTC,HSPE1,BTBD10,TMEM85,COMTD1,FAM158A,RBP2,C12ORF70,BTBD17,MIR3917,...,POLR2J3,FRS2,GIN1,DHDH,E130307A14RIK,POLR2J3,POLR2J3,CPSF1,C20ORF196,ANKFY1

In [313]:
enclist = dfe.columns.tolist()

In [314]:
dfe2 = pd.DataFrame(enclist)

In [315]:
dfe2.columns = ['name']
dfe2.head()

                                 name
0     POLR2AphosphoS2_MELcellline_mm9
1                   STAT1_HeLaS3_hg19
2                      MAX_HepG2_hg19
3                    CREB1_HepG2_hg19
4  CTCF_fibroblastofupperlegskin_hg19

In [316]:
dfe2['hs_gene_symbol'] = dfe2['name'].str.split('_').str[-3]

In [317]:
dfe2.head()

                                 name   hs_gene_symbol
0     POLR2AphosphoS2_MELcellline_mm9  POLR2AphosphoS2
1                   STAT1_HeLaS3_hg19            STAT1
2                      MAX_HepG2_hg19              MAX
3                    CREB1_HepG2_hg19            CREB1
4  CTCF_fibroblastofupperlegskin_hg19             CTCF

In [318]:
#inner: form intersection of calling frame’s index

In [319]:
#final = pd.merge(df2, dfe2, how = 'inner', on =['gene'])
final = pd.merge(df,dfe2, how = 'inner', on =['hs_gene_symbol'])

In [320]:
final.head()

,id,cell_type,chdir_norm,ctrl_ids,curator,geo_id,hs_gene_symbol,mm_gene_symbol,organism,pert_ids,pert_type,platform,version,name
0,gene_2034,"CD4+ T cell, TCR stimulated",NaN,GSM798461|GSM798462|GSM798463|GSM798464,Andrew,GSE32224,TRIM28,Trim28,mouse,GSM798469|GSM798470|GSM798471|GSM798472,knockout,GPL7202,1,TRIM28_U2OS_hg19
1,gene_2034,"CD4+ T cell, TCR stimulated",NaN,GSM798461|GSM798462|GSM798463|GSM798464,Andrew,GSE32224,TRIM28,Trim28,mouse,GSM798469|GSM798470|GSM798471|GSM798472,knockout,GPL7202,1,TRIM28_HEK293_hg19
2,gene_2034,"CD4+ T cell, TCR stimulated",NaN,GSM798461|GSM798462|GSM798463|GSM798464,Andrew,GSE32224,TRIM28,Trim28,mouse,GSM798469|GSM798470|GSM798471|GSM798472,knockout,GPL7202,1,TRIM28_K562_hg19
3,gene_2033,CD4+ T cell,NaN,GSM798457|GSM798458|GSM798459|GSM798460,Andrew,GSE32224,TRIM28,Trim28,mouse,GSM798465|GSM798466|GSM798467|GSM798468,knockout,GPL7202,1,TRIM28_U2OS_hg19
4,gene_2033,CD4+ T cell,NaN,GSM798457|GSM798458|GSM798459|GSM798460,Andrew,GSE32224,TRIM28,Trim28,mouse,GSM798465|GSM798466|GSM798467|GSM798468,knockout,GPL7202,1,TRIM28_HEK293_hg19

In [321]:
dff = final[['id', 'hs_gene_symbol','name']]

In [322]:
dff['name'] = dff['name'].str.split('_').str[-2]

#dff.head(200)
#dff['name'] = dff[dff.columns[1:]].apply(lambda x: '_'.join(x.dropna().astype(str)),axis=1)
dff

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

            id hs_gene_symbol           name
0    gene_2034         TRIM28           U2OS
1    gene_2034         TRIM28         HEK293
2    gene_2034         TRIM28           K562
3    gene_2033         TRIM28           U2OS
4    gene_2033         TRIM28         HEK293
5    gene_2033         TRIM28           K562
6    gene_2032         TRIM28           U2OS
7    gene_2032         TRIM28         HEK293
8    gene_2032         TRIM28           K562
9    gene_2430           ESR1           T47D
10   gene_2430           ESR1           ECC1
11   gene_2898           ESR1           T47D
12   gene_2898           ESR1           ECC1
13   gene_2714          NR2C2          HepG2
14   gene_2714          NR2C2         HeLaS3
15   gene_2714          NR2C2           K562
16   gene_2714          NR2C2        GM12878
17   gene_2200          NR2C2          HepG2
18   gene_2200          NR2C2         HeLaS3
19   gene_2200          NR2C2           K562
20   gene_2200          NR2C2        GM12878
21   gene_1157            SRF           MCF7
22   gene_1157            SRF          HepG2
23   gene_1157            SRF           ECC1
24   gene_1157            SRF        GM12878
25   gene_1157            SRF         H1hESC
26   gene_1157            SRF           K562
27   gene_1157            SRF         HCT116
28   gene_1157            SRF        myocyte
29   gene_1158            SRF           MCF7
..         ...            ...            ...
233  gene_2150           NRF1          SKNSH
234  gene_2150           NRF1         HeLaS3
235  gene_1332          SUZ12         H1hESC
236  gene_1332          SUZ12          NT2D1
237  gene_1332          SUZ12           K562
238  gene_1447           TAL1         G1EER4
239  gene_1447           TAL1   erythroblast
240  gene_1447           TAL1    MELcellline
241  gene_1447           TAL1  megakaryocyte
242  gene_1447           TAL1           K562
243  gene_1447           TAL1            G1E
244  gene_1062          GATA1         G1EER4
245  gene_1062          GATA1    MELcellline
246  gene_1062          GATA1   erythroblast
247  gene_1062          GATA1  megakaryocyte
248  gene_1062          GATA1   erythroblast
249  gene_1062          GATA1           K562
250  gene_2167           TCF3        myocyte
251  gene_2167           TCF3        GM12878
252  gene_2169           TCF3        myocyte
253  gene_2169           TCF3        GM12878
254  gene_2166          FOXA2          HepG2
255  gene_2166          FOXA2           A549
256  gene_2168          TCF12         H1hESC
257  gene_2168          TCF12           MCF7
258  gene_2168          TCF12          SKNSH
259  gene_2168          TCF12           ECC1
260  gene_2168          TCF12           A549
261  gene_2168          TCF12        GM12878
262  gene_2168          TCF12        myocyte

[263 rows x 3 columns]

In [323]:
#dff = dff[['id','name']]
dff['identification'] = dff[['hs_gene_symbol', 'name']].apply(lambda x: '_'.join(x), axis=1)
dff.duplicated()
dff.head()
#dff.to_csv()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

          id hs_gene_symbol    name identification
0  gene_2034         TRIM28    U2OS    TRIM28_U2OS
1  gene_2034         TRIM28  HEK293  TRIM28_HEK293
2  gene_2034         TRIM28    K562    TRIM28_K562
3  gene_2033         TRIM28    U2OS    TRIM28_U2OS
4  gene_2033         TRIM28  HEK293  TRIM28_HEK293

In [324]:
dff['sample'] = dff[['hs_gene_symbol', 'name','id']].apply(lambda x: '_'.join(x), axis=1)
dff.head()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

          id hs_gene_symbol    name identification                   sample
0  gene_2034         TRIM28    U2OS    TRIM28_U2OS    TRIM28_U2OS_gene_2034
1  gene_2034         TRIM28  HEK293  TRIM28_HEK293  TRIM28_HEK293_gene_2034
2  gene_2034         TRIM28    K562    TRIM28_K562    TRIM28_K562_gene_2034
3  gene_2033         TRIM28    U2OS    TRIM28_U2OS    TRIM28_U2OS_gene_2033
4  gene_2033         TRIM28  HEK293  TRIM28_HEK293  TRIM28_HEK293_gene_2033

In [326]:
# Drop multiple columns keep only what it will be useful
sample = dff.drop(['id','hs_gene_symbol','name','identification'], axis=1)

sample.head()

                    sample
0    TRIM28_U2OS_gene_2034
1  TRIM28_HEK293_gene_2034
2    TRIM28_K562_gene_2034
3    TRIM28_U2OS_gene_2033
4  TRIM28_HEK293_gene_2033

In [327]:
# Acessing data # Defining overlap to be tested
# Create a dataframe for tested where row has list A| listB

# Append Columns to "matrix", 
go = []
for row in dff['id']:
    a = 'go.obj <- newGeneOverlap(encodeA$%s' %(row)
    go.append(a)
go = pd.DataFrame(go)
# go.head()

gob = []
for row in dff['identification']:
    b = 'encodeB$%s'%(row) 
    gob.append(b)
gob = pd.DataFrame(gob)
# gob.head()

## Concatenayed Columns
gobjectko = pd.concat([go,gob],axis=1)
gobjectko.columns = ['A', 'B']
gobjectko.to_csv('gobjectko.csv',index=False) # save it to open in R in the other tab, since R stopped working here

gobjectko.head()

                                            A                      B
0  go.obj <- newGeneOverlap(encodeA$gene_2034    encodeB$TRIM28_U2OS
1  go.obj <- newGeneOverlap(encodeA$gene_2034  encodeB$TRIM28_HEK293
2  go.obj <- newGeneOverlap(encodeA$gene_2034    encodeB$TRIM28_K562
3  go.obj <- newGeneOverlap(encodeA$gene_2033    encodeB$TRIM28_U2OS
4  go.obj <- newGeneOverlap(encodeA$gene_2033  encodeB$TRIM28_HEK293

# Overlap output

In [74]:
# Clean/ Organize/ Standardize output from gene overlap comparisons.

In [296]:
import re

# List of words to delete
delete = ['size','#','\n','Index',]

# Data to keep 
words = ['listA', 'listB','Intersection','Overlapping p-value', 'Odds ratio','Union','Jaccard Index']


rep = re.compile(r'|'.join(delete))
keep = re.compile(r'|'.join(words))

data = []
with open('/Users/Carol/Desktop/arquivoNovo/KO/overlapKOdn.txt') as f1:
    for line in f1:
        if keep.search(line):
            # replace all unwanted substrings
            line = rep.sub("", line.lstrip())     
            line=line.split('=')
#             print(line)
            data.append(line)


df = pd.DataFrame(data)

df.columns = ['ca', 'value']
df['value'] = df.value.str.split(',').str.get(0)  # split value column at the , and que left side of string


df.head()

                    ca value
0               listA    326
1               listB   2000
2        Intersection      0
3               Union   2326
4  Overlapping p-value     1

In [297]:
# Coisas que podem ser uteis
listA = df[df['ca'].str.contains("listA")]
listB = df[df['ca'].str.contains("listB")]
intersection = df[df['ca'].str.contains("Intersection")]
union = df[df['ca'].str.contains("Union")]
pval= df[df['ca'].str.contains("Overlapping p-value")]
odds= df[df['ca'].str.contains("Odds ratio")]
#jaccard= df[df['ca'].str.contains("Jaccard Index")]

In [331]:
# listA.columns = ['value','listA']
# listA = listA.T
# listA = listA.T
# listA1 = listA.reset_index(drop=True) # Reset index to be able to concatenate it easily
# listA1.head()

In [332]:
listA.columns = ['value','listA']
listA = listA.T
listA = listA.T
listA1 = listA.reset_index(drop=True) # Reset index to be able to concatenate it easily
listA1.head()

listB.columns = ['value','listB']
listB = listB.T
listB = listB.T
listB1 = listB.reset_index(drop=True)
listB1.head()

intersection.columns = ['value','intersection']
intersection = intersection.T
intersection = intersection.T
intersection1 = intersection.reset_index(drop=True)
intersection1.head()

union.columns = ['value','union']
union = union.T
union = union.T
union1 = union.reset_index(drop=True)
union1.head()

pval.columns = ['value','pval']
pval = pval.T
pval = pval.T
pval1 = pval.reset_index(drop=True)
pval1.head()

odds.columns = ['value','odds']
odds = odds.T
odds = odds.T
odds1 = odds.reset_index(drop=True)
odds1.head()

jaccard.columns = ['value','jaccard']
jaccard = jaccard.T
jaccard = jaccard.T
jaccard = jaccard.reset_index(drop=True)
#jaccard.head()

In [329]:
concat = pd.concat([sample,listA1,listB1,intersection1,union1,pval1,odds1],axis=1)
concat.head()

,sample,value,listA,value,listB,value,intersection,value,union,value,pval,value,odds
0,TRIM28_U2OS_gene_2034,listA,326,listB,2000,Intersection,0,Union,2326,Overlapping p-value,1,Odds ratio,0.0
1,TRIM28_HEK293_gene_2034,listA,326,listB,2000,Intersection,0,Union,2326,Overlapping p-value,1,Odds ratio,0.0
2,TRIM28_K562_gene_2034,listA,326,listB,2000,Intersection,0,Union,2326,Overlapping p-value,1,Odds ratio,0.0
3,TRIM28_U2OS_gene_2033,listA,294,listB,2000,Intersection,0,Union,2294,Overlapping p-value,1,Odds ratio,0.0
4,TRIM28_HEK293_gene_2033,listA,294,listB,2000,Intersection,0,Union,2294,Overlapping p-value,1,Odds ratio,0.0

In [330]:
clean = concat.drop('value',axis=1)
clean.head()

                    sample listA listB intersection union pval odds
0    TRIM28_U2OS_gene_2034   326  2000            0  2326    1  0.0
1  TRIM28_HEK293_gene_2034   326  2000            0  2326    1  0.0
2    TRIM28_K562_gene_2034   326  2000            0  2326    1  0.0
3    TRIM28_U2OS_gene_2033   294  2000            0  2294    1  0.0
4  TRIM28_HEK293_gene_2033   294  2000            0  2294    1  0.0